body {
    background-color: rgb(3, 0, 40);
    color: antiquewhite;
}

.menu img {
    display: flex;
    width: 20%;
    height: auto;
    top: 9%;
    left: 5%;
}
button {
    text-decoration: none;
    top: 30%;
    left: 95%;
}
.carrinho img {
    display: flex;
    position: fixed;
    width: 3%;
    gap: 0;
    top: 9%;
    left: 85%;
}
.fav-list img {
    display: flex;
    position: fixed;
    width: 3%;
    gap: 0;
    top: 9%;
    left: 81%;
}
.direitos_pagamentos img {
    width: 90%;
}