body {
    background-color: #060030;
    font-family: sans-serif;
    .botoesdelogin {
        background-color: black;
        color: white;
        padding: auto;
        border-radius: 8px;
    }
}

/*
perguntar pro Carmona o que fazer primeiro, editar o fundo da pagina, ou montar o layout
verificar como edito, a largura da cor do fundo em um local especifico
verificar como preencho o botao com outra cor
como fazer espaços específicos do background terem cores diferentes
como tirar o sublinhado do hiperlink
verificar como posicionar as imagens no fundo

proximos passos, montar o menu hamburguer em cima do logo da game mania
                colocar a barra de pesquisa
                colocar o banner e as paginas de scroll
*/
