/* Reset básico para remover margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela */
    background-color: #010030; /* Cor de fundo */
    font-family: Arial, sans-serif; /* Fonte padrão */
}

.container {
    display: flex;
    flex-direction: column; /* Alinha itens em coluna */
    align-items: center; /* Centraliza itens horizontalmente */
    background-color: #fff; 
    padding: 70px; /* Espaçamento interno */
    border-radius: 20px;
}

.container img {
    width: 400px; 
    margin-bottom: 40px; /* Espaçamento abaixo da imagem */
    border: none;
}

input[type="text"] {
    width: 100%; 
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento abaixo do input */
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
}

input[type="password"] {
    width: 100%; 
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento abaixo do input */
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px; 
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: 150px;
    height: 30px;
    border: 2px solid #010030;
    border-radius: 20px;
    color: #007bff;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #010030;
    pointer-events: visible;
    cursor: pointer;
}